* {
  font-family: "Helvetica Neue", Calibri, "Trebuchet MS", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1/2fr 1fr 1fr 1fr;
  background-color: #ffffff;
  border-radius: 15px;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  padding: 10px;
  max-width: 40cm;
}
/* this is the header */
.item {
  background-color: rgb(255, 255, 255);
  border-radius: 15px;

  grid-column-start: 1; /* name, span <number>, span <name>, auto */
  grid-column-end: 5; /* name, span <number>, span <name>, auto */
  grid-row-start: 1; /* name, span <number>, span <name>, auto */
  grid-row-end: 2; /* name, span <number>, span <name>, auto */
}

.menu {
  justify-self: center;
  grid-column-start: 1; /* name, span <number>, span <name>, auto */
  grid-column-end: 5; /* name, span <number>, span <name>, auto */
  grid-row-start: 2; /* name, span <number>, span <name>, auto */
  grid-row-end: 3; /* name, span <number>, span <name>, auto */
}
/*This is the About me section*/
.item1 {
  border: solid 1px rgb(0, 0, 0);
  border-radius: 15px;
  grid-column-start: 1; /* name, span <number>, span <name>, auto */
  grid-column-end: 2; /* name, span <number>, span <name>, auto */
  grid-row-start: 3; /* name, span <number>, span <name>, auto */
  grid-row-end: 4; /* name, span <number>, span <name>, auto */
}
/* This is "why the nmd"*/
.item2 {
  /* border: solid 1px rgb(0, 0, 0);
  border-radius: 15px; */
  grid-column-start: 2; /* name, span <number>, span <name>, auto */
  grid-column-end: 3; /* name, span <number>, span <name>, auto */
  grid-row-start: 3; /* name, span <number>, span <name>, auto */
  grid-row-end: 4; /* name, span <number>, span <name>, auto */
}
/*Hobbies*/
.item3 {
  /* border: solid 1px rgb(0, 0, 0);
  border-radius: 15px; */
  grid-column-start: 1; /* name, span <number>, span <name>, auto */
  grid-column-end: 2; /* name, span <number>, span <name>, auto */
  grid-row-start: 4; /* name, span <number>, span <name>, auto */
  grid-row-end: 5; /* name, span <number>, span <name>, auto */
}
/* LINK */
.item4 {
  /* border: solid 1px rgb(0, 0, 0);
  border-radius: 15px; */
  padding-left: 10px;
  padding-right: 10px;
  justify-content: center;
  grid-column-start: 2; /* name, span <number>, span <name>, auto */
  grid-column-end: 3; /* name, span <number>, span <name>, auto */
  grid-row-start: 4; /* name, span <number>, span <name>, auto */
  grid-row-end: 5; /* name, span <number>, span <name>, auto */
}

.image {
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  grid-column-start: 3; /* name, span <number>, span <name>, auto */
  grid-column-end: 5; /* name, span <number>, span <name>, auto */
  grid-row-start: 3; /* name, span <number>, span <name>, auto */
  grid-row-end: 6; /* name, span <number>, span <name>, auto */
}

#bdr {
  border: none;
  border-radius: none;
}

body {
  background-color: #d9526b;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 1%;
}

header {
  font-size: 110px;
  color: #d9526b;
  text-align: center;
}

p {
  padding-left: 10px;
}

h1,
h2,
h3,
h4,
h5 {
  padding-left: 10px;
}

ul {
  list-style: none; /* Remove default bullets */
}

ul li::before {
  content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #d9526b; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 10px; /* Also needed for space (tweak if needed) */
  margin-left: -30px; /* Also needed for space (tweak if needed) */
}

.responsive {
  border-radius: 15px;
  width: 100%;
  height: auto;
  float: center;
}

a:link,
a:visited {
  background-color: #d9526b;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 15px;
}
a:hover,
a:active {
  background-color: #632631;
}

@media screen and (max-width: 415px) {
  header {
    font-size: 50px;
    color: #d9526b;
    text-align: center;
  }
  .item1 {
    /* border: solid 1px rgb(0, 0, 0);
    border-radius: 15px; */
    grid-column-start: 1; /* name, span <number>, span <name>, auto */
    grid-column-end: 5; /* name, span <number>, span <name>, auto */
    grid-row-start: 3; /* name, span <number>, span <name>, auto */
    grid-row-end: 4; /* name, span <number>, span <name>, auto */
  }
  .image {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    grid-column-start: 1; /* name, span <number>, span <name>, auto */
    grid-column-end: 5; /* name, span <number>, span <name>, auto */
    grid-row-start: 4; /* name, span <number>, span <name>, auto */
    grid-row-end: 5; /* name, span <number>, span <name>, auto */
  }
  .item2 {
    /* border: solid 1px rgb(0, 0, 0);
    border-radius: 15px; */
    grid-column-start: 1; /* name, span <number>, span <name>, auto */
    grid-column-end: 5; /* name, span <number>, span <name>, auto */
    grid-row-start: 5; /* name, span <number>, span <name>, auto */
    grid-row-end: 6; /* name, span <number>, span <name>, auto */
  }
  .item3 {
    /* border: solid 1px rgb(0, 0, 0);
    border-radius: 15px; */
    grid-column-start: 1; /* name, span <number>, span <name>, auto */
    grid-column-end: 5; /* name, span <number>, span <name>, auto */
    grid-row-start: 6; /* name, span <number>, span <name>, auto */
    grid-row-end: 7; /* name, span <number>, span <name>, auto */
  }
}
